@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn:before{
    transition: width 0.5s, height 05.s;
}



/* styles/custom-scrollbar.css */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d4b57f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d4b57f;
    /* Darker shade on hover */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}